#header {
  background-color: rgb(30, 30, 30);
  margin-top: 2rem;
}

.logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
}

.logo span {
  color: var(--color-or);
}

.icon-btn {
  font-size: 1.6rem;
  color: white;
}
.profile {
  color: white;
  text-align: center;
}

#nav-bar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 10px rgb(87, 87, 87);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  z-index: 5;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navLink a {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.navLink a:hover {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 4px white;
  cursor: pointer;
}

.navLists {
  display: none;
}

.close {
  background: none;
  border: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.closeIcon {
  color: white;
  font-size: 1.5rem;
}

.btn {
  background: var(--color-or);
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  box-shadow: 0 0 6px var(--color-or);
  border-radius: 5px;
  white-space: nowrap;
}

/* DESCRIPTION */

.descriptions {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  grid-area: second;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.description h1 {
  font-size: 2rem;
  color: white;
}

.description p {
  color: darkgray;
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
}
.explore {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.explore a {
  color: var(--color-or);
  font-size: 1.2rem;
  border-bottom: 3px solid var(--color-or);
}

.explore .icon {
  font-size: 1.2rem;
  color: var(--color-or);
  border-bottom: 3px solid var(--color-or);
}

.list-icons {
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: darkgray;
}

.list-icons .icon {
  background: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(40, 40, 40);
  padding: 1rem;
  border-radius: 5px;
}

.experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.experience-soft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.myExperience {
  background: var(--color-or);
  width: fit-content;
  padding: 1rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 4px 4px 8px var(--color-or);
}

.experience-soft h2 {
  color: white;
}

.experience-soft p {
  color: darkgray;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.experience p {
  width: 80%;
  text-align: center;
}

.profile {
  width: 15rem;
  height: 15rem;
  position: absolute;
  border: 6px solid black;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 260px;
  height: 260px;
  background: rgb(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  grid-area: first;
}

.box::before {
  content: '';
  position: absolute;
  inset: -3px 100px;
  background: linear-gradient(315deg, #eefcff, var(--color-or));
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  inset: 6px;
  background: black;
  border-radius: 50%;
  z-index: 1;
}

.box:hover::before {
  inset: -5px 0;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'first' 'second';
  padding-top: 80px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 5rem 5rem;
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .box {
    grid-area: inherit;
    margin: auto auto;
    width: 20rem;
    height: 20rem;
  }

  .profile {
    width: 18rem;
    height: 18rem;
  }

  .descriptions {
    grid-area: inherit;
    padding: 0;
  }

  .social {
    margin-top: 2rem;
  }

  .description .btn {
    margin-top: 2rem;
  }

  .description {
    align-items: flex-start;
  }

  .experience-soft {
    flex-direction: row;
  }

  .experience {
    align-items: flex-start;
  }

  .experience p {
    text-align: start;
  }
  .description p {
    text-align: start;
  }

  .experiences {
    align-items: flex-start;
    padding-top: 2rem;
  }

  .menuBtn {
    display: initial;
  }
  .nav-links {
    align-items: start;
    justify-content: flex-end;
    padding: 5rem;
  }

  .navLink a {
    font-size: 2.5rem;
  }
}
