:root {
  /* --color-or: rgb(226, 52, 52); */
  --color-or: rgb(207, 40, 40);
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: white;
}

section h2 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  color: var(--color-or);
}

section > p {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
}
